// HEADER :: START
header.header
  // top
  .header__top
    .container.container--wide
      .header__top-wrapper
        .header__hamburger
          .hamburger.hamburger--spin
            .hamburger-box
              .hamburger-inner
              
        .header__socials
          a(href="#")
            +icon('ico-vk')
          a(href="#")
            +icon('ico-fb')
            
        .header__logo
          a(href="/homepage.html")
            i.icon.icon-logo
        
        .header__contact
          a(href="#").header__profile-link личный кабинет
          a.header__phone(href="tel:84991362333") 8 (499) 136-23-33
          
  // bottom
  .header__bottom
    .container.container--wide
      .header__bottom-wrapper
        .header__search
          +icon('ico-search')
        .header__menu
          ul.header__menu-list
            - var list = ["Новинки", "Одежда", "Обувь", "Аксессуары", "Условия доставки", "Контакты"]
              each item in list
                li
                  a(href="#")=item
        
        .header__cart
          +icon('ico-cart')
        
// HEADER :: END


// MOBILE NAVI :: START
.mobile-navi
  .mobile-navi__wrapper
    .mobile-navi__menu
      ul.mobile-navi__menu-list
        - var list = ["Новинки", "Одежда", "Обувь", "Аксессуары", "Условия доставки", "Контакты"]
          each item in list
            li
              a(href="#")=item
    .header__socials
      a(href="#")
        +icon('ico-vk')
      a(href="#")
        +icon('ico-fb')
    .mobile-navi__bottom
      .header__cart
        +icon('ico-cart')
      .header__contact
        a(href="#").header__profile-link личный кабинет
        a.header__phone(href="tel:84991362333") 8 (499) 136-23-33
    
        
// MOBILE NAVI :: END
