---
title: Текстовая
bodyClass: page-typography
---
extends shared/_layout
block content

  .container
    .row
      .col-lg-10.offset-lg-1

        ul.breadcrumbs
          - var list = ["Главная", "Каталог", "Одежда"]
              each item in list
                li
                  a(href="#").breadcrumbs__link=item
        h1 О компании

        h2 H2 подзаголовок

        p Мужская одежда - звучит сильно! Нам с детства известна поговорка о том, что встречают всегда по внешнему виду. И это не обман: опрятная одежда, подобранная со вкусом и в тему встречи всегда производит приятное впечатление. Но успешного человека характеризует не только умение быть аккуратным. Современные мужчины – такие же охотники, но их поле деятельности перенеслось из лесов в офисы, где «обмундирование» иногда играет жизненно важную роль. Мода – еще один параметр, по которому выбирают лидера. Умение следовать всем капризам этой дамы и при этом не потерять свою индивидуальность – вот ключевой залог создания успешного образа самодостаточного человека.

        hr

        .row
          .col-md-6
            h3 H3 подзаголовок
            p Мужская одежда - звучит сильно! Нам с детства известна поговорка о том, что встречают всегда по внешнему виду. И это не обман: опрятная одежда, подобранная со вкусом и в тему встречи всегда производит приятное впечатление. Но успешного человека характеризует не только умение быть аккуратным. 
          .col-md-6
            h3 H3 подзаголовок
            p Современные мужчины – такие же охотники, но их поле деятельности перенеслось из лесов в офисы, где «обмундирование» иногда играет жизненно важную роль. Мода – еще один параметр, по которому выбирают лидера. Умение следовать всем капризам этой дамы и при этом не потерять свою индивидуальность – вот ключевой залог создания успешного образа самодостаточного человека.
      figure
        img(src="img/img-1.jpg", alt="")

  .about
    .container
      .about__desc
        h2.about__heading О магазине
        p.about__text Мужская одежда - звучит сильно! Нам с детства известна поговорка о том, что встречают всегда по внешнему виду. И это не обман: опрятная одежда, подобранная со вкусом и в тему встречи всегда производит приятное впечатление.
      .row
        .col-sm-6.col-md-3
          .about-item
            +icon('ico-about-1')
            h3.about-item__title Магазин <br>на Горбушке
            p.about-item__text У нас имеется живой магазин на Горбушке, в 2-х минутах от метро Багратионовская, где представлен огромный ассортимент одежды, обуви и аксессуаров.

        .col-sm-6.col-md-3
          .about-item
            +icon('ico-about-2') 
            h3.about-item__title Низкие <br>цены
            p.about-item__text НИЗКИЕ ЦЕНЫ - это наш девиз! Покупайте и заказывайте одежду в нашем мужском Дисконте по лучшим ценам в РФ.

        .col-sm-6.col-md-3
          .about-item
            +icon('ico-about-3')
            h3.about-item__title Доставка <br>по РФ
            p.about-item__text Мы доставляем товары по всей России. Перед отправкой мы тщательно замеряем товар по Вашим параметрам. Данный способ гарантирует что купленная вещь Вам подойдет и будет радовать каждый день!

        .col-sm-6.col-md-3
          .about-item
            +icon('ico-about-4')
            h3.about-item__title Большой выбор <br>товаров
            p.about-item__text В нашем мужском Дисконте представлен огромный выбор одежды, обуви и аксессуаров. Пополнение коллекций и поступление новых товаров происходит несколько раз в неделю.
    

    script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
    script.
      ymaps.ready(function () {
        var mapOptions = {
          //- iconLayout: 'default#image',
          //- iconImageHref: 'images/icon-location.png',
          //- iconImageSize: [48, 51],
          //- iconImageOffset: [-24, -25]
        }
        var myMap = new ymaps.Map('map', {
          center: [55.58446640485473,37.385470500000004],
          zoom: 8,
          controls: []
        }, {
          searchControlProvider: 'yandex#search'
        });
        myPlacemark01 = new ymaps.Placemark([55.58446640485473,37.385470500000004], {}, mapOptions);
        myMap.geoObjects.add(myPlacemark01);
        myMap.behaviors.disable('scrollZoom');
      });


  .contacts
    .contacts__map#map
    .container
      .contacts__desc
        a(href="tel:73452681414").contacts__phone +7 (3452) 68-14-14
        address.contacts__address Тюмень, ул. Мельникайте, 111
           +icon('ico-loc')
        p.contacts__worktime понедельник-пятница <br>с 7:00 до 18:00 <br>суббота <br>с 9:00 до 15:00
        .contacts__social
          p.contacts__social-text Присоединяйтесь к нам в соц. сетях
          ul.contacts__social-menu
            li
              a(href="#").contacts__social-link
                +icon('ico-vk')
            li
              a(href="#").contacts__social-link
                +icon('ico-fb')
            li
              a(href="#").contacts__social-link
                +icon('ico-im')


