.ico-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
