.ico-about-1 {
  width: 1em;
  height: 1em;
  fill: #767676;
}
.ico-about-2 {
  width: 1em;
  height: 1em;
  fill: #767676;
}
.ico-about-3 {
  width: 1em;
  height: 1em;
  fill: #767676;
}
.ico-about-4 {
  width: 1em;
  height: 1em;
  fill: #767676;
}
.ico-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-im {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-loc {
  width: 1em;
  height: 1em;
  fill: #767676;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
